<div class="input-bg">
    <form method="post" action="/register/create">
        <label for="username">Username:</label><br>
        <input type="text" name="username" placeholder="New Username" value=""><br><br>
        <label for="password1">Password:</label><br>
        <input type="password" name="password1" placeholder="Your password" value=""><br><br>
        <label for="password1">Retype password:</label><br>
        <input type="password" name="password2" placeholder="Confirm Your Password" value=""><br><br>
        <input class="button" type="submit" value="Submit">
    </form>
</div>
