<div class="footer">
    <footer>
          <span>Email:</span><br>
<<<<<<< HEAD
            mymoon676@hotmail.com <br>
            <div class="text-center">&copy; Copyright Mymoon Dobaibi<br></div><br>
=======
            mymoon676@hotmail.com
            <div class="text-center">&copy; Copyright Mymoon Dobaibi</div><br>
>>>>>>> 0d7af5316f57221bd7f1eccb3f3a0c94a53fe968
      </div>
    </footer>
</div>

