<header>
<ul class="navBar">
    <li class="nav-li"><a href="/">Home</a></li>
    <li class="nav-li"><a href="/snippets/">Code</a></li>
    {{#if expreq.length }}
        <li class="nav-li logged-in">Logged in as: {{expreq}}</li>
    </ul>
    {{else}}
        </ul>
    {{/if}}
</header>
