<!-- Mymoon Dobaibi -->

    <!DOCTYPE html>
    <html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>CRUD Code Snippets</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
{{>header}}
<div id="container" class="center-text">
    {{>flash}}
    {{{body}}}
</div>
<div class='foo'>{{>footer}}</div>
</body>
</html>
