<!--<h1 class="small-margin">Login</h1>-->
<div class="input-bg">
    <form method="post" action="/login/">
        <label for="username">Username:</label><br>
        <input type="text" name="username" placeholder="Your Username" value=""><br><br>
        <label for="password1">Password:</label><br>
        <input type="password" name="password" placeholder="Your Password" value=""><br><br>
        <input class="button" type="submit" value="Submit">
    </form>
</div>
