<h1>This is CRUD page Snippets</h1>
<h3>Here user should register to be able to : </h3>
  <li>Add  snippets.</li>
  <li>Edit snippets.</li>
  <li>Delete snippets.</li>
  <li>Update snippets.</li>
  <p>
    <a href="  http://localhost:8000/register/" class="button">Register</a>
    <a href="  http://localhost:8000/login/" class="button">Login</a>
    <a href="/logout/" class="button">Logout</a>
  </p>
